* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-10 {
  background-color: cadetblue;

}
.col-2 {
  background-color: rgb(56, 63, 63);
  justify-content: center;
  align-items: center;
}


.scrollable {
  overflow: auto;
  position: relative;
}

.scrollable::-webkit-scrollbar {
  width: 7px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(56, 63, 63);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}